# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Entornos
venv/
.env/

# Logs
*.log

# Data local pesada
/data/raw/*
/data/interim/*
/data/processed/*
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/processed/.gitkeep
!/data/raw/trafico/.gitkeep
!/data/raw/sensores/.gitkeep

# Results


# OS
.DS_Store
Thumbs.db
