# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Entornos
venv/
.env/

# Logs
*.log

# Data local pesada
/data/raw/*
/data/interim/*
/data/processed/*
/data/processed_descongestion/*
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/processed/.gitkeep
!/data/raw/trafico/.gitkeep
!/data/raw/sensores/.gitkeep

# =========================
# RESULTS (experimentos)
# =========================

# Ignorar todo dentro de experimentos
/results/experimentos_epocas_datos/**

# Permitir carpetas run
!/results/experimentos_epocas_datos/
!/results/experimentos_epocas_datos/run_*/

# Permitir SOLO lo útil dentro de cada run
!/results/experimentos_epocas_datos/run_*/graficas/
!/results/experimentos_epocas_datos/run_*/graficas/**
!/results/experimentos_epocas_datos/run_*/ranking_modelos.csv
!/results/experimentos_epocas_datos/run_*/resultados_completos.csv
!/results/experimentos_epocas_datos/run_*/ranking_modelos_resumen.csv

# Ignorar explícitamente lo que NO quieres subir
/results/experimentos_epocas_datos/run_*/modelos/**
/results/experimentos_epocas_datos/run_*/historiales/**

# OS
.DS_Store
Thumbs.db
